autom4te.cache
configure
ltmain.sh
m4/
missing
stamp-h1
configure~
config.h
config.h.in
config.h.in~
config.log
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.guess
config.status
config.sub
configure.scan
depcomp
install-sh
libtool
src/Makefile
src/Makefile.in
src/fbwarn
src/.deps
*~
*/*~
*.o
